exportPattern("^[[:alpha:]]+")
import(AdequacyModel)

importFrom("stats", "qnorm", "uniroot")

import(GEVStableGarch)
importFrom("graphics", "hist", "par", "plot")
importFrom(metRology, dt.scaled)
importFrom(metRology, pt.scaled)
importFrom(GeneralizedHyperbolic, dnig)
importFrom(GeneralizedHyperbolic, pnig)
importFrom(GeneralizedHyperbolic, rnig)
import(LCA)
import(NormalLaplace)
import(SkewHyperbolic)
importFrom(VGAM,dslash)
importFrom(VGAM,pslash)
importFrom(VGAM,rslash)
importFrom(VarianceGamma, dvg)
importFrom(VarianceGamma, pvg)
importFrom(VarianceGamma, rvg)
import(ald)
import(cubfits)
importFrom(evd, dgumbel)
importFrom(evd, pgumbel)
importFrom(evd, rgumbel)
importFrom(fBasics,dght)
importFrom(fBasics,pght)
importFrom(fBasics,rght)
import(gamlss.dist)
import(glogis)
import(irtProb)
import(lqmm)
import(normalp)
importFrom(ordinal, dlgamma)
importFrom(ordinal, plgamma)
import(sgt)
import(sld)
importFrom(sn, dsn)
importFrom(sn, psn)
importFrom(sn, rsn)
importFrom(sn, dst)
importFrom(sn, pst)
importFrom(sn, rst)